/*=========================================================
Main css for the webpages
===========================================================*/

.header {
    margin: 20px 0;
    border-bottom: 5px solid #7d97ad;
    padding: 0 0 10px;
}

.hero {
    margin: 40px 0;
}

.logo-image {
    height: 79px;
}

footer {
    margin-bottom: 40px;
}

@media screen and (max-width:768px) {
    .logo-image {
        margin: auto;
    }
}